node_modules/
venv/
__pycache__/
.ipynb_checkpoints/

.env

# data
backend/data/synthetic_borrowers.csv
backend/data/synthetic_borrowers.csv.xls
datasets/
*.csv

# models
*.pkl
*.pt
*.h5
backend/.venv
frontend/.next/