/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/globals.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-space-grotesk: 'Space Grotesk', system-ui, sans-serif;
  --color-bg: #080C14;
  --color-surface: #0B1018;
  --color-surface2: #0D1420;
  --color-border: rgba(30, 58, 95, 0.4);
  --color-teal: #00D4AA;
  --color-blue: #0066FF;
  --color-amber: #FFB347;
  --color-red: #FF6B6B;
  --color-text: #E8EDF5;
  --color-muted: #4A6FA5;
  --color-subtle: #2A4A6F;
}

html,
body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-space-grotesk), sans-serif;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #0D1420;
}
::-webkit-scrollbar-thumb {
  background: #1E3A5F;
  border-radius: 2px;
}

